<h2>XSS Outside Of Tag Test</h2>
<form method="post">
    <input name="input" />
    <input type="submit" value="Search" />
</form>

@if (ViewBag.Input != null)
{
    @Html.Raw("Input is " + @ViewBag.Input)
}