<h2>Stored XSS example</h2>
<form id="form" method="post">
    <input name="input" />
    <input type="submit" value="Add review" />
</form>

@if (ViewBag.Reviews != null)
{
    <p>@Html.Raw(ViewBag.Reviews)</p>
}